 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "jekyll-theme/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "jekyll-theme/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "jekyll-theme/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "jekyll-theme/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "jekyll-theme/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "jekyll-theme/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "jekyll-theme/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "jekyll-theme/js/agency.js" | prepend: site.baseurl }}"></script>
